.content-profils {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.general > .user-profils > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 20px;
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
}

.general > .user-details {
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.general > .user-details > .setting > a {
    color: var(--white);
    text-decoration: none;
    display: flex;
}

.general > .user-details > h2 {
    font-size: 70px;
    color: var(--white);
    text-align: center;
    width: 100%;
}

.general > .user-details > .user-admin {
    background: rgb(200,176,25);
    background: linear-gradient(59deg, rgba(200,176,25,1) 23%, rgba(255,241,0,1) 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    font-size: 50px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--blue);
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
}

.btn > a {
    text-decoration: none;
    color: white;
    display: flex;
}

.btn > a:hover {
    color: var(--orange);
    transition: 0.3s ease-in-out;
}

main {
    width: 80%;
}

.description {
    width: 50%; 
    margin-right: 50px;
}

.description > h2 {
    font-size: 50px;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.description > .description-box {
    background-color: var(--blue);
    padding: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
}

.contacts {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 47%;
    max-width: 47%;
    background-color: var(--blue);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
}

.contact-img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img > img {
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.contact-description {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-description > span {
    font-size: 25px;
}

@media screen and (max-width: 1920px){
    .contact-img > img {
        width: 80px;
    }

    .contact-description > span {
        font-size: 20px;
    }

    .contact {
        margin: 5px;
    }

    .description > h2 {
        font-size: 40px;
    }

    .description > .description-box {
        font-size: 20px;
    }

}

@media screen and (max-width: 1600px){
    .contact {
        min-width: 100%;
        max-width: 100%;
        margin: 10px;
    }
}

@media screen and (max-width: 760px){
    .description {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .contacts {
        margin-top: 15px;
    }

    .general {
        flex-direction: column;
    }
    
    .btn {
        font-size: 30px;
        margin-top: 20px;
    }

    .description > .description-box {
        padding : 30px;
    }
}

@media screen and (max-width: 400px){
    .description > .description-box {
        font-size: 15px;
    }

    .contact-description > span {
        font-size: 15px;
    }

    .description > .description-box {
        padding : 20px;
    }

    .contact-img > img {
        width: 60px;
    }
}