* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark-blue: #0b3f62;
    --blue: #1d92b0;
    --light-blue: #82C0CC;
    --white: #EDE7E3;
    --dark-white: #d8d8d8;
    --orange: #FFA62B;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 20px 5px rgba(0,0,0,0.1);
    height: 120px;
    z-index: 100;
    position: relative;
}

header > nav {
    width: 70%;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

header > nav > #left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > #left > a {
    font-size: 80px;
    color: var(--white);
    text-decoration: none;
    display: flex;
}

header > nav > #left > a:hover {
    color: var(--orange);
    transition: all 0.3s ease-in-out;
}

header > nav > #center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

header > nav > #center > a {
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: var(--white);
}

header > nav > #center > a:hover {
    color: var(--orange);
    font-size: 60px;
    transition: all 0.3s ease-in-out;
}

header > nav > #right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > #right > div,
header > nav > #right > a {
    color: var(--white);
    font-size: 40px;
    text-decoration: none;
    display: flex;
    margin: 0 15px;
}

header > nav > #right > div:hover,
header > nav > #right > a:hover {
    color: var(--orange);
    font-size: 50px;
    transition: all 0.3s ease-in-out;
}

header > nav > #right > a > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

header > nav > #right > a > img:hover {
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
}

.search-btn-phone {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 30px;
    color: var(--white);
    cursor: pointer;
    background-color: var(--orange);
    padding: 10px;
    border-radius: 50%;
}

.recherche {
    z-index: 200;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(56, 56, 56, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
}

.recherche > .recherche-box {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recherche > .recherche-box > input {
    width: 50%;
    font-size: 30px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    color: white;
}

.recherche > .recherche-box > input:focus {
    outline: none;
}

.recherche > .recherche-box > input::placeholder {
    color: white;
    opacity: 0.7;
}   

.resultats {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultat {
    background: var(--blue);
    padding: 20px;
    border-radius: 20px;
    width: 20%;
}

/* MAIN */

.notification {
    background-color: var(--dark-blue);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    animation: notification-open 0.5s ease-in-out;
}

.notification > .notification-content {
    width: 90%;
    display: flex;
    justify-content: center;
}

.notification > .notification-content > p {
    color: var(--white);
    font-size: 20px;
    margin-right: 20px;
}

.notification > .notification-close {
    color: var(--white);
    font-size: 40px;
    cursor: pointer;
    display: flex;
}

@keyframes notification-open {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes notification-close {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
}

.container {
    background: rgb(6,101,166);
    background: linear-gradient(59deg, rgba(6,101,166,1) 23%, rgba(11,63,98,1) 94%);
    min-height: calc(100vh - 120px);
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title > h1 {
    font-size: 80px;
    color: var(--white);
    margin-bottom: 20px;
}

main {
    width: 100%;
    display: flex;
}

.home-activity {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-activity > h2 {
    font-size: 50px;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.activity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-radius: 10px;
    width: 45%;
    padding: 10px 5px;
    margin: 10px;
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
    max-height: 110px;
}

.activity > .user-profils > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 20px;
}

.activity > .user-activity > .activity-details {
    font-size: 20px;
    color: var(--white);
}

.activity > .user-activity > .activity-details > .activity-pseudo,
.activity > .user-activity > .activity-details > .activity-categorie {
    color: var(--orange);
    text-decoration: none;
}

.activity > .user-activity > .activity-details > .activity-date {
    color: var(--light-blue);
}

.news {
    width: 50%;
}

.news > h2 {
    font-size: 50px;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.new {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    margin: 20px;
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
}

.new > .new-details {
    font-size: 20px;
    color: var(--white);
}

.new > .new-details > .new-version {
    font-size: 40px;
    color: var(--orange);
}

.new > .new-details > .new-date {
    color: var(--light-blue);
}

footer {
    height: 120px;
    background-color: var(--dark-blue);
    display: flex;
}

footer > .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .left > p {
    color: var(--white);
    font-size: 20px;
}

footer > .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer > .right > ul {
    list-style-type: none;
}

footer > .right > ul > li {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

footer > .right > ul > li > a {
    text-decoration: none;
    color: var(--white);
}

@media screen and (max-width: 1920px){

    header {
        height: 120px;
    }

    header > nav > #left > a {
        font-size: 60px;
    }

    header > nav > #center > a {
        font-size: 40px;
    }

    header > nav > #center > a:hover {
        font-size: 50px;
    }

    header > nav > #right > div,
    header > nav > #right > a {
        font-size: 30px;
    }

    header > nav > #right > div:hover,
    header > nav > #right > a:hover {
        font-size: 40px;
    }

    .title > h1{
        font-size: 60px;
    }

    .home-activity > h2 {
        font-size: 40px;
    }

    .activity > .user-profils > img {
        width: 70px;
        height: 70px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 20px;
    }

    .activity > .user-activity > .activity-details > .activity-date {
        font-size: 15px;
    }

    .news > h2 {
        font-size: 40px;
    }

    .new > .new-details > .new-version {
        font-size: 25px;
    }

    .new > .new-details > .new-date {
        font-size: 15px;
    }
}

@media screen and (max-width: 1600px){
    .activity > .user-profils > img {
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 15px;
    }
    .activity {
        width: 100%;
    }

    .activity > .user-profils > img {
        width: 70px;
        height: 70px;
        margin: 0 20px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 20px;
    }

    .notification {
        width: 100%;
    }
}

@media screen and (max-width: 760px){

    .home-activity {
        width: 100%;
    }

    .news {
        width: 100%;
        margin-top: 50px;
    }

    .new {
        margin: 0;
        margin-bottom: 20px;
    }

    main {
        display: block;
    }

    header > nav {
        width: 90%;
    }
    
    header > nav > #left > a {
        font-size: 50px;
    }

    header > nav > #center > a {
        font-size: 30px;
    }

    header > nav > #right > div,
    header > nav > #right > a {
        margin: 0 5px;
    }

    .title > h1{
        font-size: 50px;
    }
    
    .home-activity > h2 {
        font-size: 30px;
    }

    .news > h2 {
        font-size: 30px;
    }

    footer {
        height: auto;
        display: block;
    }

    footer > .left, footer > .right {
        width: 100%;
        padding: 30px;
    }
}

@media screen and (max-width: 400px){

    .title > h1{
        font-size: 40px;
    }

    .activity > .user-profils > img {
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 15px;
    }

    .new > .new-details {
        font-size: 15px;
    }

    .new > .new-details > .new-version {
        font-size: 20px;
    }

    header > nav > #right > #search-user {
        display: none;
    }

    .search-btn-phone {
        display: flex;
    }

    .content {
        width: 100%;
    }
}