* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* --dark-blue: #0b3f62;
    --blue: #1d92b0;
    --light-blue: #82C0CC;
    --white: #EDE7E3;
    --dark-white: #d8d8d8;
    --orange: #FFA62B; */
    --blue1: #0077C2;
    --blue2: #59a5f5;
    --blue3: #c8ffff;
    --blue4: #00BFFF;
    --blue5: #00619a;
    --white1: #E6F2F8;
    --white2: #dce8ee;
    --gray: #b4bfc5;
    --black: #333333;
    --gray2: #5c5c5c;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    background-color: var(--blue3);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 20px 5px rgba(0,0,0,0.1);
    height: 120px;
    z-index: 100;
    position: relative;
}

header > nav {
    width: 70%;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

header > nav > #left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > #left > a {
    font-size: 80px;
    color: var(--black);
    text-decoration: none;
    display: flex;
}

header > nav > #left > a:hover {
    color: var(--blue5);
    transition: all 0.3s ease-in-out;
}

header > nav > #center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

header > nav > #center > a {
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: var(--black);
}

header > nav > #center > a:hover {
    color: var(--blue5);
    font-size: 60px;
    transition: all 0.3s ease-in-out;
}

header > nav > #right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > #right > div,
header > nav > #right > a {
    color: var(--black);
    font-size: 40px;
    text-decoration: none;
    display: flex;
    margin: 0 15px;
}

header > nav > #right > div:hover,
header > nav > #right > a:hover {
    color: var(--blue5);
    font-size: 50px;
    transition: all 0.3s ease-in-out;
}

header > nav > #right > #search-user {
    cursor: pointer;
}

header > nav > #right > a > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

header > nav > #right > a > img:hover {
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
}

.search-btn-phone {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 30px;
    color: var(--white);
    cursor: pointer;
    background-color: var(--orange);
    padding: 10px;
    border-radius: 50%;
}

.recherche {
    z-index: 200;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(56, 56, 56, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    display: none;
    animation: recherche-open 0.5s ease-in-out;
}

@keyframes recherche-open {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes recherche-close {
    0% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0.5;
    }
}

.recherche > #close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 50px;
    color: var(--white1);
    cursor: pointer;
}

.recherche > .recherche-box {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recherche > .recherche-box > input {
    width: 50%;
    font-size: 30px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--blue4);
    color: var(--black);
}

.recherche > .recherche-box > input:focus {
    outline: none;
}

.recherche > .recherche-box > input::placeholder {
    color: var(--black);
    opacity: 0.7;
}   

.resultats {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.resultat {
    background: var(--blue4);
    padding: 20px;
    border-radius: 20px;
    min-width: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.resultat > .resultat-img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultat > .resultat-img > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.resultat > .resultat-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultat > .resultat-content > h3 {
    color: var(--black);
    text-decoration: none;
}

/* MAIN */

.notification {
    background-color: var(--blue2);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    animation: notification-open 0.5s ease-in-out;
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
}

.notification > .notification-content {
    width: 90%;
    display: flex;
    justify-content: center;
}

.notification > .notification-content > p {
    color: var(--black);
    font-size: 20px;
    margin-right: 20px;
}

.notification > .notification-close {
    color: var(--black);
    font-size: 40px;
    cursor: pointer;
    display: flex;
}

@keyframes notification-open {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes notification-close {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
}

.container {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1056%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1057)'%3e%3c/rect%3e%3cpath d='M1585.708%2c432.57C1636.276%2c432.111%2c1679.329%2c397.98%2c1702.955%2c353.268C1725.044%2c311.465%2c1721.952%2c261.498%2c1697.481%2c221.043C1673.881%2c182.028%2c1631.293%2c160.469%2c1585.708%2c159.437C1538.067%2c158.358%2c1489.839%2c175.225%2c1464.807%2c215.774C1438.597%2c258.231%2c1440.413%2c311.854%2c1464.715%2c355.431C1489.683%2c400.204%2c1534.446%2c433.035%2c1585.708%2c432.57' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M953.316%2c994.638C989.702%2c993.827%2c1021.093%2c972.458%2c1040.231%2c941.501C1060.565%2c908.609%2c1069.623%2c868.717%2c1052.639%2c833.976C1033.549%2c794.927%2c996.778%2c764.326%2c953.316%2c763.712C908.954%2c763.085%2c869.362%2c791.677%2c849.005%2c831.097C830.169%2c867.572%2c837.346%2c910.919%2c859.422%2c945.53C879.779%2c977.447%2c915.469%2c995.481%2c953.316%2c994.638' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M610.895%2c451.834C692.798%2c449.541%2c767.401%2c402.822%2c805.313%2c330.186C840.696%2c262.396%2c824.875%2c182.685%2c785.634%2c117.052C747.578%2c53.401%2c684.871%2c10.232%2c610.895%2c5.005C525.825%2c-1.006%2c433.21%2c16.969%2c387.421%2c88.916C338.914%2c165.134%2c349.288%2c264.697%2c396.659%2c341.627C441.79%2c414.919%2c524.856%2c454.243%2c610.895%2c451.834' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1092.122%2c963.636C1130.414%2c964.636%2c1165.797%2c944.269%2c1185.901%2c911.664C1207.103%2c877.278%2c1213.754%2c833.943%2c1193.721%2c798.863C1173.547%2c763.536%2c1132.787%2c748.579%2c1092.122%2c747.446C1048.987%2c746.245%2c1000.64%2c754.899%2c980.226%2c792.917C960.445%2c829.756%2c983.537%2c872.008%2c1006.459%2c906.979C1026.574%2c937.667%2c1055.441%2c962.678%2c1092.122%2c963.636' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1877.91%2c1097.256C1960.841%2c1102.138%2c2039.914%2c1051.219%2c2076.797%2c976.781C2110.443%2c908.877%2c2083.039%2c830.866%2c2041.217%2c767.668C2004.316%2c711.906%2c1944.776%2c676.445%2c1877.91%2c676.236C1810.666%2c676.026%2c1746.575%2c708.48%2c1712.823%2c766.64C1678.946%2c825.015%2c1685.675%2c895.148%2c1715.827%2c955.532C1750.19%2c1024.351%2c1801.122%2c1092.736%2c1877.91%2c1097.256' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1178.194%2c745.64C1231.865%2c746.057%2c1295.133%2c748.022%2c1321.774%2c701.428C1348.321%2c654.998%2c1316.576%2c600.246%2c1286.684%2c555.895C1261.171%2c518.041%2c1223.842%2c488.036%2c1178.194%2c488.4C1133.109%2c488.76%2c1097.575%2c520.025%2c1072.663%2c557.603C1043.901%2c600.988%2c1012.955%2c653.831%2c1038.431%2c699.224C1064.181%2c745.106%2c1125.582%2c745.231%2c1178.194%2c745.64' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M180.403%2c869.886C286.427%2c872.093%2c368.51%2c786.548%2c418.979%2c693.28C466.707%2c605.077%2c479.495%2c498.641%2c427.791%2c412.709C377.468%2c329.073%2c277.977%2c299.336%2c180.403%2c296.771C76.954%2c294.052%2c-39.088%2c309.321%2c-90.583%2c399.084C-141.925%2c488.581%2c-93.035%2c594.269%2c-41.564%2c683.692C10.071%2c773.4%2c76.918%2c867.732%2c180.403%2c869.886' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1056'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='89.06%25' y1='119.44%25' x2='10.94%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1057'%3e%3cstop stop-color='rgba(200%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(230%2c 242%2c 248%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blur {
    min-height: calc(100vh - 120px);
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    z-index: 0;
}

.content {
    padding: 100px;
    width: 80%;
    min-height: calc(100vh - 120px);
    z-index: 1;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title > h1 {
    font-size: 80px;
    color: var(--black);
    margin-bottom: 20px;
}

main {
    width: 100%;
    display: flex;
}

.home-activity {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-activity > h2 {
    font-size: 50px;
    color: var(--black);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.activity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue2);
    border-radius: 10px;
    width: 45%;
    padding: 10px 5px;
    margin: 10px;
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
    max-height: 110px;
}

.activity > .user-profils > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 20px;
}

.activity > .user-activity > .activity-details {
    font-size: 20px;
    color: var(--blue3);
}

.activity > .user-activity > .activity-details > .activity-pseudo,
.activity > .user-activity > .activity-details > .activity-categorie {
    color: var(--black);
    text-decoration: none;
}

.activity > .user-activity > .activity-details > .activity-date {
    color: var(--black);
    opacity: 0.7;
}

.news {
    width: 50%;
}

.news > h2 {
    font-size: 50px;
    color: var(--black);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.new {
    display: flex;
    align-items: center;
    background-color: var(--blue2);
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    margin: 20px;
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
}

.new > .new-details {
    font-size: 20px;
    color: var(--blue3);
}

.new > .new-details > .new-version {
    font-size: 40px;
    color: var(--black);
}

.new > .new-details > .new-date {
    color: var(--black);
    opacity: 0.7;
}

footer {
    height: 120px;
    background-color: var(--blue3);
    display: flex;
    box-shadow: 0px -21px 15px -3px rgba(0,0,0,0.1);
}

footer > .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer > .left > p {
    color: var(--black);
    font-size: 20px;
}

footer > .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer > .right > ul {
    list-style-type: none;
}

footer > .right > ul > li {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

footer > .right > ul > li > a {
    text-decoration: none;
    color: var(--black);
}

@media screen and (max-width: 1920px){

    header {
        height: 120px;
    }

    header > nav > #left > a {
        font-size: 60px;
    }

    header > nav > #center > a {
        font-size: 40px;
    }

    header > nav > #center > a:hover {
        font-size: 50px;
    }

    header > nav > #right > div,
    header > nav > #right > a {
        font-size: 30px;
    }

    header > nav > #right > div:hover,
    header > nav > #right > a:hover {
        font-size: 40px;
    }

    .title > h1{
        font-size: 60px;
    }

    .home-activity > h2 {
        font-size: 40px;
    }

    .activity > .user-profils > img {
        width: 70px;
        height: 70px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 20px;
    }

    .activity > .user-activity > .activity-details > .activity-date {
        font-size: 15px;
    }

    .news > h2 {
        font-size: 40px;
    }

    .new > .new-details > .new-version {
        font-size: 25px;
    }

    .new > .new-details > .new-date {
        font-size: 15px;
    }
}

@media screen and (max-width: 1600px){
    .activity > .user-profils > img {
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 15px;
    }
    .activity {
        width: 100%;
    }

    .activity > .user-profils > img {
        width: 70px;
        height: 70px;
        margin: 0 20px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 20px;
    }

    .notification {
        width: 100%;
    }
}

@media screen and (max-width: 760px){

    .home-activity {
        width: 100%;
    }

    .news {
        width: 100%;
        margin-top: 50px;
    }

    .new {
        margin: 0;
        margin-bottom: 20px;
    }

    main {
        display: block;
    }

    header > nav {
        width: 90%;
    }
    
    header > nav > #left > a {
        font-size: 50px;
    }

    header > nav > #center > a {
        font-size: 30px;
    }

    header > nav > #right > div,
    header > nav > #right > a {
        margin: 0 5px;
    }

    .title > h1{
        font-size: 50px;
    }
    
    .home-activity > h2 {
        font-size: 30px;
    }

    .news > h2 {
        font-size: 30px;
    }

    footer {
        height: auto;
        display: block;
    }

    footer > .left, footer > .right {
        width: 100%;
        padding: 30px;
    }
}

@media screen and (max-width: 400px){

    .title > h1{
        font-size: 40px;
    }

    .activity > .user-profils > img {
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 15px;
    }

    .new > .new-details {
        font-size: 15px;
    }

    .new > .new-details > .new-version {
        font-size: 20px;
    }

    header > nav > #right > #search-user {
        display: none;
    }

    .search-btn-phone {
        display: flex;
    }

    .content {
        width: 100%;
    }
}