* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* --dark-blue: #0b3f62;
    --blue: #1d92b0;
    --light-blue: #82C0CC;
    --white: #EDE7E3;
    --dark-white: #d8d8d8;
    --orange: #FFA62B; */
    --blue1: #0077C2;
    --blue2: #59a5f5;
    --blue3: #c8ffff;
    --blue4: #00BFFF;
    --blue5: #00619a;
    --white1: #E6F2F8;
    --white2: #dce8ee;
    --gray: #b4bfc5;
    --black: #333333;
    --gray2: #5c5c5c;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    background-color: var(--blue3);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 20px 5px rgba(0,0,0,0.1);
    height: 120px;
    z-index: 100;
    position: relative;
}

header > nav {
    width: 70%;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

header > nav > #left {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > #left > a {
    font-size: 80px;
    color: var(--black);
    text-decoration: none;
    display: flex;
}

header > nav > #left > a:hover {
    color: var(--blue5);
    transition: all 0.3s ease-in-out;
}

header > nav > #center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

header > nav > #center > a {
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: var(--black);
}

header > nav > #center > a:hover {
    color: var(--blue5);
    font-size: 60px;
    transition: all 0.3s ease-in-out;
}

header > nav > #right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > #right > div,
header > nav > #right > a {
    color: var(--black);
    font-size: 40px;
    text-decoration: none;
    display: flex;
    margin: 0 15px;
}

header > nav > #right > div:hover,
header > nav > #right > a:hover {
    color: var(--blue5);
    font-size: 50px;
    transition: all 0.3s ease-in-out;
}

header > nav > #right > #search-user {
    cursor: pointer;
}

header > nav > #right > a > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

header > nav > #right > a > img:hover {
    width: 60px;
    height: 60px;
    transition: all 0.3s ease-in-out;
}

.search-btn-phone {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 30px;
    color: var(--white);
    cursor: pointer;
    background-color: var(--orange);
    padding: 10px;
    border-radius: 50%;
}

.recherche {
    z-index: 200;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(56, 56, 56, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    display: none;
    animation: recherche-open 0.5s ease-in-out;
}

@keyframes recherche-open {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes recherche-close {
    0% {
        opacity: 1;
        scale: 1;
    }
    100% {
        opacity: 0;
        scale: 0.5;
    }
}

.recherche > #close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 50px;
    color: var(--white1);
    cursor: pointer;
}

.recherche > .recherche-box {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recherche > .recherche-box > input {
    width: 50%;
    font-size: 30px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--blue4);
    color: var(--black);
}

.recherche > .recherche-box > input:focus {
    outline: none;
}

.recherche > .recherche-box > input::placeholder {
    color: var(--black);
    opacity: 0.7;
}   

.resultats {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.resultat {
    background: var(--blue4);
    padding: 20px;
    border-radius: 20px;
    min-width: 20%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.resultat > .resultat-img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultat > .resultat-img > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.resultat > .resultat-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultat > .resultat-content > h3 {
    color: var(--black);
    text-decoration: none;
}

/* MAIN */

.notification {
    background-color: var(--blue2);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    animation: notification-open 0.5s ease-in-out;
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
}

.notification > .notification-content {
    width: 90%;
    display: flex;
    justify-content: center;
}

.notification > .notification-content > p {
    color: var(--black);
    font-size: 20px;
    margin-right: 20px;
}

.notification > .notification-close {
    color: var(--black);
    font-size: 40px;
    cursor: pointer;
    display: flex;
}

@keyframes notification-open {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes notification-close {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
}

.container {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1222%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1223)'%3e%3c/rect%3e%3cpath d='M768.6995762339959 562.2592245906036L515.9125578803528 410.36946026050236 364.02279355025155 663.1564786141454 616.8098119038947 815.0462429442466z' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M520.796403161861-169.9769738981834L446.529493747126 127.89133037506937 744.3977980203788 202.15823978980436 818.6647074351138-95.71006448344842z' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1840.86618886151 931.3893350245953L2082.0798520561057 823.9940928820095 1733.470946718924 690.1756718299995z' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M416.8840031222471 165.23909831531807L535.7502652726369 90.96321412151981 364.90330790674454-50.1982370071656z' fill='rgba(89%2c 165%2c 245%2c 0.48)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1222'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1223'%3e%3cstop stop-color='rgba(220%2c 232%2c 238%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(200%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 120px);
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title > h1 {
    font-size: 80px;
    color: var(--black);
    margin-bottom: 20px;
}

main {
    width: 100%;
    display: flex;
}

.home-activity {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-activity > h2 {
    font-size: 50px;
    color: var(--black);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.activity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue2);
    border-radius: 10px;
    width: 45%;
    padding: 10px 5px;
    margin: 10px;
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
    max-height: 110px;
}

.activity > .user-profils > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 20px;
}

.activity > .user-activity > .activity-details {
    font-size: 20px;
    color: var(--blue3);
}

.activity > .user-activity > .activity-details > .activity-pseudo,
.activity > .user-activity > .activity-details > .activity-categorie {
    color: var(--black);
    text-decoration: none;
}

.activity > .user-activity > .activity-details > .activity-date {
    color: var(--black);
    opacity: 0.7;
}

.news {
    width: 50%;
}

.news > h2 {
    font-size: 50px;
    color: var(--black);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.new {
    display: flex;
    align-items: center;
    background-color: var(--blue2);
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    margin: 20px;
    box-shadow: 21px 21px 15px -3px rgba(0,0,0,0.1);
}

.new > .new-details {
    font-size: 20px;
    color: var(--blue3);
}

.new > .new-details > .new-version {
    font-size: 40px;
    color: var(--black);
}

.new > .new-details > .new-date {
    color: var(--black);
    opacity: 0.7;
}

footer {
    height: 120px;
    background-color: var(--blue3);
    display: flex;
    box-shadow: 0px -21px 15px -3px rgba(0,0,0,0.1);
}

footer > .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer > .left > p {
    color: var(--black);
    font-size: 20px;
}

footer > .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer > .right > ul {
    list-style-type: none;
}

footer > .right > ul > li {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

footer > .right > ul > li > a {
    text-decoration: none;
    color: var(--black);
}

@media screen and (max-width: 1920px){

    header {
        height: 120px;
    }

    header > nav > #left > a {
        font-size: 60px;
    }

    header > nav > #center > a {
        font-size: 40px;
    }

    header > nav > #center > a:hover {
        font-size: 50px;
    }

    header > nav > #right > div,
    header > nav > #right > a {
        font-size: 30px;
    }

    header > nav > #right > div:hover,
    header > nav > #right > a:hover {
        font-size: 40px;
    }

    .title > h1{
        font-size: 60px;
    }

    .home-activity > h2 {
        font-size: 40px;
    }

    .activity > .user-profils > img {
        width: 70px;
        height: 70px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 20px;
    }

    .activity > .user-activity > .activity-details > .activity-date {
        font-size: 15px;
    }

    .news > h2 {
        font-size: 40px;
    }

    .new > .new-details > .new-version {
        font-size: 25px;
    }

    .new > .new-details > .new-date {
        font-size: 15px;
    }
}

@media screen and (max-width: 1600px){
    .activity > .user-profils > img {
        width: 60px;
        height: 60px;
        margin: 0 10px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 15px;
    }
    .activity {
        width: 100%;
    }

    .activity > .user-profils > img {
        width: 70px;
        height: 70px;
        margin: 0 20px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 20px;
    }

    .notification {
        width: 100%;
    }
}

@media screen and (max-width: 760px){

    .home-activity {
        width: 100%;
    }

    .news {
        width: 100%;
        margin-top: 50px;
    }

    .new {
        margin: 0;
        margin-bottom: 20px;
    }

    main {
        display: block;
    }

    header > nav {
        width: 90%;
    }
    
    header > nav > #left > a {
        font-size: 50px;
    }

    header > nav > #center > a {
        font-size: 30px;
    }

    header > nav > #right > div,
    header > nav > #right > a {
        margin: 0 5px;
    }

    .title > h1{
        font-size: 50px;
    }
    
    .home-activity > h2 {
        font-size: 30px;
    }

    .news > h2 {
        font-size: 30px;
    }

    footer {
        height: auto;
        display: block;
    }

    footer > .left, footer > .right {
        width: 100%;
        padding: 30px;
    }
}

@media screen and (max-width: 400px){

    .title > h1{
        font-size: 40px;
    }

    .activity > .user-profils > img {
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }

    .activity > .user-activity > .activity-details {
        font-size: 15px;
    }

    .new > .new-details {
        font-size: 15px;
    }

    .new > .new-details > .new-version {
        font-size: 20px;
    }

    header > nav > #right > #search-user {
        display: none;
    }

    .search-btn-phone {
        display: flex;
    }

    .content {
        width: 100%;
    }
}